.carousel-container {
  width: 800px;
  aspect-ratio: 16/9;
  background-color: turquoise;
  position: relative;
  margin: 20px;
}

.carousel-container .carousel-header {
  position: absolute;
  opacity: 0;
}

.carousel-container .inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-container .inner .controls {
  position: relative;
  width: 95%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  z-index: 10;
}

.carousel-container .inner .controls .rotation {
  margin-top: 20px;
  width: 30px;
  position: absolute;
  outline: none;
  padding: 0;
  background-color: white;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background-color: white;
  border-radius: 50%;
}

.carousel-container .inner .controls .rotation:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner .controls .rotation img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner .controls .pickers {
  position: absolute;
  left: calc(50% - 120px);
  background-color: #000000a6;
  border-radius: 13px;
  bottom: 20px;
}

.carousel-container .inner .controls .pickers button {
  margin: 15px;
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid white;
  background-color: black;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.carousel-container .inner .controls .pickers button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: blue;
}

.carousel-container .inner .controls .pickers button:active {
  background-color: white;
}

.carousel-container .inner .controls .previous {
  position: absolute;
  width: 30px;
  outline: none;
  border: none;
  padding: 0;
  top: calc(50% - (30px /2));
  background-color: transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background-color: white;
  border-radius: 50%;
}

.carousel-container .inner .controls .previous:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner .controls .previous img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner .controls .next {
  position: absolute;
  width: 30px;
  outline: none;
  border: none;
  padding: 0;
  right: 0;
  top: calc(50% - (30px /2));
  background-color: transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background-color: white;
  border-radius: 50%;
}

.carousel-container .inner .controls .next:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner .controls .next img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel-container .inner #carousel-items {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-container .inner #carousel-items li {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-container .inner #carousel-items li img {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.carousel-container .inner #carousel-items li .info {
  position: absolute;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  top: 10%;
  z-index: 10;
}

.carousel-container .inner #carousel-items li button {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 150px;
  height: 30px;
  font-size: large;
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: sans-serif serif;
  font-weight: bold;
  left: calc(50% - (150px/2));
  bottom: 20%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.carousel-container .inner #carousel-items li button:hover {
  border: 3px solid white;
}

.carousel-container .inner .carousel-status {
  position: absolute;
  left: -1000px;
}
/*# sourceMappingURL=App2.css.map */